## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iws
*.iml

## Mac OS X
.DS_Store
.AppleDouble
.LSOverride
._*

## SVN
.svn/

## Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

## VIM
*.swp

## node
lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
.grunt

node_modules